<!DOCTYPE html>

<html lang="ja">

<head>
  <meta charset="utf-8">
  <title></title>
  <style>
#container {
  width: 960px;
  margin: 0 auto;
}
header {
  background-color: #f0ffff;
}
#body {
  overflow: hidden;
  background-color: #f0f0f0;
}
#body>aside {
  width: 300px;
  float: left;
  background-color: #fff0ff;
}
#body>main {
  width: 660px;
  float: right;
  background-color: #fffff0;
}
footer {
  background-color: #f0ffff;
}

  </style>
</head>

<body>
<div id="container">

  <header>header</header>

  <div id="body">
    <aside>
      <p>sidebar</p>
      <p>sidebar</p>
      <p>sidebar</p>
      <p>sidebar</p>
    </aside>
    <main>
      <p>main</p>
      <p>main</p>
      <p>main</p>
      <p>main</p>
      <p>main</p>
      <p>main</p>
    </main>
  </div>

  <footer>footer</footer>

</div>
</body>

</html>